.title-font {
    font-family: fantasy;
    font: size 500px;;
}

.subtitle-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    font-size: large;
    margin-top: -20px;
}

.portfolio-header {
    text-align: center;
}

.portfolio-card{
    position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio-grid{
    display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem; 
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;          /* scales and crops to fill without distortion */
  object-position: center;    /* crop around the center of the image */
  border-radius: 8px;
  transition: transform 0.3s ease-in-out
}

.portfolio-card:hover img {
  transform: scale(1.1); /* Zoom in by 10% */
}

.label-caption{
    font-family: 'Trebuchet MS';
    text-align: center;
    padding-top: 10px;
}